apiVersion: apps/v1
kind: Deployment
metadata:
    name: backend
spec:
  replicas: {{ .Values.replicaCount.backend }}
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: {{ .Values.image.backend.repository }}:{{ .Values.image.backend.tag }}  
        imagePullPolicy: {{ .Values.image.backend.pullPolicy }}
        ports:
          - containerPort: {{ .Values.service.backend.port }}
        env:
        - name: DB_HOST
          valueFrom:
            secretKeyRef:
              name: {{ .Values.secret.backendDbSecretName  }}    #secret name on kubernetes
              key: DB_HOST

        - name: DB_PORT
          valueFrom:
            secretKeyRef:
              name: {{ .Values.secret.backendDbSecretName }}    #secret name on kubernetes
              key: DB_PORT          
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: {{ .Values.secret.backendDbSecretName}}    #secret name on kubernetes
              key: DB_USER
        - name: DB_PASS
          valueFrom:
            secretKeyRef:
              name: {{ .Values.secret.backendDbSecretName }}    #secret name on kubernetes
              key: DB_PASS
        - name: DB_NAME
          valueFrom:
            secretKeyRef:
              name: {{ .Values.secret.backendDbSecretName }}    #secret name on kubernetes
              key: DB_NAME
---
apiVersion: v1
kind: Service
metadata:
  name: backend
spec:
  selector:
    app: backend
  ports:
    - port: {{ .Values.service.backend.port }}
      targetPort: {{ .Values.service.backend.port }}
  type: ClusterIP         #to be exposed for internal component we need to specify the type as ClusterIP

