apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: postgres-pvc
spec:
  storageClassName: local-path
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
    name: postgres
spec:
  replicas: {{ .Values.replicaCount.postgres }}
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
         - name: postgres
           image: {{ .Values.image.postgres.repository }}:{{ .Values.image.postgres.tag }}
           ports:  
             - containerPort: {{ .Values.service.postgres.port }}
           env:
             - name: POSTGRES_USER
               valueFrom:
                 secretKeyRef:
                   name: {{ .Values.secret.backendDbSecretName }}    #secret name on kubernetes
                   key: POSTGRES_USER
             - name: POSTGRES_PASSWORD
               valueFrom:
                 secretKeyRef:
                   name: {{ .Values.secret.backendDbSecretName }}    #secret name on kubernetes
                   key: POSTGRES_PASSWORD
             - name: POSTGRES_DB
               valueFrom:
                 secretKeyRef:
                   name: {{.Values.secret.backendDbSecretName }}    #secret name on kubernetes
                   key: POSTGRES_DB               
           volumeMounts:
           - name: pgdata
             mountPath: /var/lib/postgresql/data
      volumes:
        - name: pgdata
          persistentVolumeClaim:
            claimName: postgres-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: postgres
spec:
  selector:
    app: postgres
  ports:
    - port: {{ .Values.service.postgres.port }}
      targetPort: {{ .Values.service.postgres.port }}
  type: ClusterIP
