# ======================
# Node.js
# ======================
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# ======================
# Environment variables (Secrets)
# ======================
.env
.env.*

# ======================
# Docker
# ======================
*.log

# ======================
# Kubernetes
# ======================
k8s/kubectl

# ======================
# OS / Editor files
# ======================
.DS_Store
Thumbs.db
.vscode/
.idea/

