apiVersion: apps/v1
kind: Deployment
metadata:
    name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: backend:latest   
        imagePullPolicy: Never
        ports:
        - containerPort: 3000
        env:
        - name: DB_HOST
          valueFrom:
            secretKeyRef:
              name: backend-db-secret    #secret name on kubernetes
              key: DB_HOST

        - name: DB_PORT
          valueFrom:
            secretKeyRef:
              name: backend-db-secret    #secret name on kubernetes
              key: DB_PORT          
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: backend-db-secret    #secret name on kubernetes
              key: DB_USER
        - name: DB_PASS
          valueFrom:
            secretKeyRef:
              name: backend-db-secret    #secret name on kubernetes
              key: DB_PASS
        - name: DB_NAME
          valueFrom:
            secretKeyRef:
              name: backend-db-secret    #secret name on kubernetes
              key: DB_NAME
---
apiVersion: v1
kind: Service
metadata:
  name: backend
spec:
  selector:
    app: backend
  ports:
    - port: 3000
      targetPort: 3000
  type: ClusterIP         #to be exposed for internal component we need to specify the type as ClusterIP

