apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    name: postgres-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
    name: postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
         - name: postgres
           image: postgres:15-alpine
           ports:  
             - containerPort: 5432
           env:
             - name: POSTGRES_USER
               valueFrom:
                 secretKeyRef:
                   name: backend-db-secret    #secret name on kubernetes
                   key: POSTGRES_USER
             - name: POSTGRES_PASSWORD
               valueFrom:
                 secretKeyRef:
                   name: backend-db-secret    #secret name on kubernetes
                   key: POSTGRES_PASSWORD
             - name: POSTGRES_DB
               valueFrom:
                 secretKeyRef:
                   name: backend-db-secret    #secret name on kubernetes
                   key: POSTGRES_DB               
           volumeMounts:
           - name: pgdata
             mountPath: /var/lib/postgresql/data
      volumes:
        - name: pgdata
          persistentVolumeClaim:
            claimName: postgres-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: postgres
spec:
  selector:
    app: postgres
  ports:
    - port: 5432
      targetPort: 5432
  type: ClusterIP
